@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    outline: none;
}

.loading {
    animation: loading 1s infinite linear;
}

@keyframes loading {
    100% {
        rotate: 360deg;
    }
}